<h3>Post details:</h3>
<br>
 Author:
<%= @post.author %></p>
<p style="font-weight: bold"><%= @post.content %></p>
<p><%= @post.created_at %></p>
<br>

</p>


<h4>Comments</h4>
<% @comments.each do |row| %>
<p style="font-weight: bold"><%= row['name'] %> says:</p>
<p><%= row['comment'] %></p>
<p><%= row['created_at'] %></p>
  <hr>
  <% end %>


<br>
<form action="/details/<%= @post.id %>" method="post"role="form">
  <div class="form-group">
    <label for="author">Name</label>
    <input type="text" class="form-control" placeholder="Name" id="author" name="comment[name]">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Type comment text here" name="comment[comment]"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>

